.block1{
    width: 100px;
    height: 100px;
    background-color: red;
    /* transition: background-color 3s, width 3s, cubic-bezier(0.68, 0.47, 1, 0.22); */
   
    -moz-transition: all 2s cubic-bezier(0.68, 0.47, 1, 0.22);
    -ms-transition: all 2s cubic-bezier(0.68, 0.47, 1, 0.22);
    -o-transition: all 2s cubic-bezier(0.68, 0.47, 1, 0.22);
    -webkit-transition: all 2s cubic-bezier(0.68, 0.47, 1, 0.22);
    transition: all 2s cubic-bezier(0.68, 0.47, 1, 0.22);
}
.block1:hover{
    background-color: green;
    width: 600px;
    /* transform: rotate(360deg); */
    /* transform: skewX(200deg); */

    -o-transform: scale(3,5);
    -webkit-transform: scale(3,5);
    -moz-transform: scale(3,5);
    -ms-transform: scale(3,5);
    transform: scale(3,5);

}


.block2{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background-color: green;
    /* transition: background-color 3s, height 5s; */
    transition: all 2s cubic-bezier(0.68, 0.47, 1, 0.22);

}
.block2:hover{
    background-color: blue;
    height: 300px;
    transform: skewX(200deg);
}
